<!-- begin header -->
<header class="header">
  <div class="container-big">
    <div class="row">
      <div class="header__inner col col-12">

        <div class="logo">
          <a class="logo__link" href="{{ site.baseurl }}/" style="font-family: 'Permanent Marker', cursive; font-weight: 400; font-style: normal;">
            {{ site.data.settings.title }}
          </a>
        </div>

        <div class="hamburger">
          <div></div>
        </div>

        <nav class="main-nav" aria-label="Main menu">
          <div class="main-nav__box">
            <ul class="nav__list list-reset">
              {% for item in site.data.settings.menu_settings.menu_items %}
              {% if item.submenu %}
              <li class="nav__item dropdown">
                <span class="nav__link dropdown-toggle">{{ item.title }} <i class="fa-solid fa-chevron-down arrow-down"></i></span>
                <div class="dropdown-menu">
                {% for submenu-item in item.submenu %}
                  <a href="{{ submenu-item.url }}" class="nav__link{% if page.url == submenu-item.url %} active-link{% endif %}">{{submenu-item.title}}</a>
                {% endfor %}
                </div>
              </li>
              {% else %}
              <li class="nav__item">
                <a href="{{ item.url | relative_url }}" class="nav__link{% if page.url == item.url %} active-link{% endif %}">{{ item.title }}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>

          <div class="nav-button">
            <a href="{% if site.data.settings.cta_button.cta_button_link %}{{ site.data.settings.cta_button.cta_button_link }}{% else %}#{% endif %}" class="button cta-button">{{ site.data.settings.cta_button.cta_button_text }}</a>
          </div>

        </nav>

      </div>
    </div>
  </div>
</header>
<!-- end header -->
