<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jeffrey, The JFR Analyst</title>
    <meta name='description' content="{{ page.description }}">

    <link rel="icon" href="/images/favicon.png" />
    <link rel="canonical" href="/">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:creator" content="@jeffrey_analyst" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:image" content="https://www.jeffrey-analyst.cafe/images/01.jpg" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" as="style">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <script>
        document.documentElement.setAttribute("light", "");
        document.documentElement.classList.add('light-mode');
    </script>

    <style>
        {% capture include_to_scssify %}
        {% include main.scss %}
        {% endcapture %}
        {{ include_to_scssify | scssify }}
    </style>
</head>

<body class="{% if page.url == '/' %}home-page{% endif %}">

{% include header.html %}

<!-- begin content -->
<main class="content" aria-label="Content">

<div class="container">

  <div class="post__head">
<!--    <div class="post__meta">-->
<!--      {% if page.tags.size >= 1 %}-->
<!--      <div class="post__tags">-->
<!--      {% for tag in page.tags %}-->
<!--      <a href="{{ site.baseurl }}/tags/?tag={{ tag | downcase | url_encode }}" class="post__tag">{{ tag }}</a>-->
<!--      {% endfor %}-->
<!--      </div>-->
<!--      {% endif %}-->
<!--      <span class="article__date">•<time datetime="{{ page.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%d %-b, %Y" %}{{ page.date | date: date_format }}</time></span>-->
<!--    </div>-->

    {% if page.title %}
    <h1 class="post__title">{{ page.title | escape }}</h1>
    {% endif %}
  </div>

  <!-- begin post -->
  <article class="post">
    <div class="post__content">
      {{ content }}
    </div>
    {% include share-buttons.html %}
  </article>
  <!-- end post -->
</div>
</main>
<!-- end content -->

{% include footer.html %}

<script src="{{ site.baseurl }}/js/scripts.js"></script>
<script src="{{ site.baseurl }}/js/common.js"></script>
</body>

</html>
